@import "../../styles/variables";
.dropdown-casestudies {
    background: linear-gradient(
      106deg,
      #fff,
      rgba(232, 252, 250, 1) 34%,
      #ffe6e6
    ) !important;
    position: absolute;
    width: 100%;
    left: 0;
    min-height: 565px;
    top: 70px;
    // opacity: 0;
    // visibility: hidden;
    background: $white;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
    z-index: 111;
    a {
      &::before {
        display: none;
      }
    }
    .case-box-drop.imgHoverClass {
      align-items: center !important;
      display: flex;
      flex-flow: column;
      h6 {
        align-self: flex-start;
        padding: 0 0 20px 40px;
      }
      img{
        position: relative;
        top: 0;
        transition: 0.5s;
        &:hover{
          top: -15px;
        }
      }
    }
    .case-box-drop {
      h6 {
        font-size: 20px;
        font-weight: 600;
        color: $primary-color;
        padding: 0 0 20px;
      }
  
      .testibox {
        max-width: 80%;
        width: 100%;
        p {
          text-transform: capitalize;
          line-height: 36px;
          padding: 10px 0;
          color: #000;
          &:hover {
            color: #000;
          }
        }
        h6 {
          text-transform: initial;
          font-weight: 700;
          padding: 0 0 0;
        }
        span {
          display: block;
          padding: 10px 0;
        }
      }
    }
  }
  
  
  .dropdown-casestudies .case-box-drop .testibox img.testi-img {
    height: 50px;
    border-radius: 50%;
  }

  header .main-header ul.menu li a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    transition: .5s;
}







/**====================================================================================================================**/
/**                                              MEDIA QUERY START                                                     **/
/**====================================================================================================================**/
/* 
  ##Device = HD Desktops
  ##Screen = 1600px to higher resolution desktops
*/
@media screen and (min-width: 1500px) {


  
  
} /* Dont delete this bracket! */ 
/* 
  ##Device = Laptop 
  ##Screen = B/w 1366px to 1440px
*/
@media (min-width: 1366px) and (max-width: 1440px) {

header .main-header ul.menu li a {
  font-size: 13px;
}



}
/* 
  ##Device = Ipads, Ipad Pro 
  ##Screen = B/w 1024px to 1365px
*/
@media (min-width: 1024px) and (max-width: 1365px) {





} /* 1024px to 1365px Dont delete this bracket! */
/* 
  ##Device = Tablets, Ipads 
  ##Screen = B/w 768px to 1023px
*/
@media (min-width: 768px) and (max-width: 1023px) {


  
  
} /* 768px to 1023px  Dont delete this bracket! */
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {



} /* 481px to 767px (Landscape) Dont delete this bracket! */
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {




} /* 320px to 480px (Portrait) Dont delete this bracket! */
/**====================================================================================================================**/
/**                                              MEDIA QUERY END                                                       **/
/**====================================================================================================================**/