@import "../../styles/variables";

.dropdown-hire-developer {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    min-height: 565px;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  
    .hire-dev-list {
      width: 100%;
      height: 565px;
      background: linear-gradient(121deg, #fff, #f7fffe 53%, #ffe6e6);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      // place-items: center;
      align-items: baseline;
      padding: 70px 0 0;
      .hire-dev-box {
        margin: 0 auto;
        h6 {
          font-size: 18px;
          font-weight: bold;
          color: $primary-color;
          margin: 0 0 25px;
        }
        ul {
          li.active_subnav{
            a{
                color: $primary-color;
                display: inline-block;
                transition: 0.5s;
  
                &::before{
                    content: "";
                     width: 100%;
                     height: 2px;
                     background: $primary-color;
                     position: absolute;
                     bottom: -5px;
                     left: 0;
                     transform: initial;
  
                   
                }
            }
        }
          li {
            margin: 0 0 30px;
            a {
              font-size: 16px;
              font-weight: 600;
              color: #000;
              letter-spacing: .5px;
              position: relative;
              transition: .5s;
            }
          }
        }
        .hire-btn {
          padding: 20px 35px;
          color: #fff;
          text-transform: capitalize;
        }
        p {
          font-size: 18px;
          font-weight: 600;
          line-height: 28px;
          margin: 0 0 5px;
        }
      }
    }
    .hire-dev-img {
      height: 565px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
      }
      .cp-dp-bx {
        position: absolute;
        bottom: 50px;
  
        width: 100%;
  
        left: 20px;
        h6 {
          font-size: 18px;
          color: $white;
          font-weight: 700;
          padding: 0 0 10px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          padding: 0 0 10px;
          color: $white;
          line-height: 30px;
          width: 80%;
        }
        a {
          color: $white;
          font-size: 16px;
          text-transform: capitalize;
          &:before {
            display: none;
          }
  
          svg{
            width: 16px;
            vertical-align: sub;
          }
        }
      }
    }
  }
  

  .hover-btn {
    background: #ec1c24;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    position: relative;
    transition: .5s;
}

 
/**====================================================================================================================**/
/**                                              MEDIA QUERY START                                                     **/
/**====================================================================================================================**/
/* 
  ##Device = HD Desktops
  ##Screen = 1600px to higher resolution desktops
*/
@media screen and (min-width: 1500px) {


  
  
} /* Dont delete this bracket! */ 
/* 
  ##Device = Laptop 
  ##Screen = B/w 1366px to 1440px
*/
@media (min-width: 1366px) and (max-width: 1440px) {


.dropdown-hire-developer .hire-dev-list .hire-dev-box h6 {
    font-size: 16px;
}
.dropdown-hire-developer .hire-dev-list .hire-dev-box ul li a {
  font-size: 14px;
}

.dropdown-hire-developer .hire-dev-img .cp-dp-bx h6 {
  font-size: 16px;
}

.dropdown-hire-developer .hire-dev-img .cp-dp-bx p {
  margin-bottom: 0;
}

.dropdown-hire-developer .hire-dev-list .hire-dev-box p {
  font-size: 16px;
  margin: 0 5px 5px;
}

header .main-header ul.menu li a {
  font-size: 13px;
}

}
/* 
  ##Device = Ipads, Ipad Pro 
  ##Screen = B/w 1024px to 1365px
*/
@media (min-width: 1024px) and (max-width: 1365px) {





} /* 1024px to 1365px Dont delete this bracket! */
/* 
  ##Device = Tablets, Ipads 
  ##Screen = B/w 768px to 1023px
*/
@media (min-width: 768px) and (max-width: 1023px) {


  
  
} /* 768px to 1023px  Dont delete this bracket! */
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {



} /* 481px to 767px (Landscape) Dont delete this bracket! */
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {




} /* 320px to 480px (Portrait) Dont delete this bracket! */
/**====================================================================================================================**/
/**                                              MEDIA QUERY END                                                       **/
/**====================================================================================================================**/